.ui-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &--xs {
    max-width: 480px;
  }

  &--sm {
    max-width: 640px;
  }

  &--md {
    max-width: 768px;
  }

  &--lg {
    max-width: 1024px;
  }

  &--xl {
    max-width: 1280px;
  }

  &--full {
    max-width: 100%;
  }

  &--padded {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
}
