@use '../../../styles/mixins' as m;

.ui-link {
  color: var(--primary-500);
  cursor: pointer;
  text-decoration: none;
  transition: color var(--transition-base);

  &.ui-link--underline {
    text-decoration: underline;
  }

  &:hover:not(.ui-link--disabled) {
    color: var(--primary-600);
    text-decoration: underline;
  }

  &.ui-link--disabled {
    color: var(--color-muted);
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
  }
}