@if (isOpen) {
  <div (click)="onBackdropClick()" aria-hidden="true">
    <div
      #dialog
      role="dialog"
      aria-modal="true"
      [attr.aria-labelledby]="titleId"
      (click)="$event.stopPropagation()"
      (keydown)="onKeydown($event)"
      tabindex="-1"
    >
      <div>
        <h3 [id]="titleId">{{ title }}</h3>
        <button
          type="button"
          (click)="close()"
          aria-label="Close modal"
        >
          [x]
        </button>
      </div>

      <div>
        <ng-content></ng-content>
      </div>

      <div>
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
}
