<div class="ui-text-input" [class.ui-text-input--error]="hasError" [class.ui-text-input--disabled]="disabled">
  @if (label) {
    <label class="ui-text-input__label">
      {{ label }}
      @if (required) {
        <span class="ui-text-input__required">*</span>
      }
    </label>
  }
  
  <div class="ui-text-input__wrapper">
    @if (prefixIcon) {
      <span class="ui-text-input__icon ui-text-input__icon--prefix">{{ prefixIcon }}</span>
    }
    
    <input
      class="ui-text-input__field"
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [required]="required"
      [value]="value"
      (input)="onInputChange($any($event.target).value)"
      (blur)="onBlur()" />
    
    @if (suffixIcon) {
      <span class="ui-text-input__icon ui-text-input__icon--suffix">{{ suffixIcon }}</span>
    }
  </div>
  
  @if (error) {
    <span class="ui-text-input__error-message">{{ error }}</span>
  } @else if (hint) {
    <span class="ui-text-input__hint">{{ hint }}</span>
  }
</div>
