/* src/app/shared/ui-library/styles/_animations.scss */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(0);
    opacity: 0.35;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes pb-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1rem 0;
  }
}
